* {
    margin: 0px;
    padding: 0px;
  }
  .quiz {
    width: 80%;
    height: 530px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 55px;
    border-radius: 15px;
  }
  .main-top{
    display: flex;
    justify-content: space-around;
  }
  
  .quiz-heading-div{

  }
  .Signout-div{
    margin-top: 13px;
    border-radius: 9px;
    text-align: center;
  }
  .Signout{
    width: 72%;
    margin-right: 20px;
    text-align: center;
  }
  .quiz-heading {
    padding: 15px;
    margin-bottom: -10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .bottom-border {
    margin-top: 20px;
    border-bottom: 5px solid #08f;
    margin-right: 270px;
  }
  .middle {
    width: 80%;
    margin: 0 auto;
  }
  
  .question {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .options {
    border: 2px solid rgb(47, 198, 198);
    padding: 10px;
    width: 80%;
    background-color: #eff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .bottom-border1 {
    margin-top: 50px;
    border-bottom: 1px solid rgb(186, 180, 180);
  }
  
  .end {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .next-btn {
    width: 150%;
  }
  .hide{
    display: none;
  }
  .result-btn{
    background-color: #21a34e;
    color: white;
    padding: 7px 17px;
    border-radius: 23px;
    font-weight: bolder;
    font-family: inherit;
  }
  
  @media screen and (max-width: 480px) {
    .quiz {
      width: 90%;
      height:570px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .bottom-border {
      margin-right: 90px;
    }
    .middle {
      width: 90%;
    }
    .question {
      font-size: 20px;
      margin-top: 20px;
    }
    .options {
      width: 90%;
    }
    .end {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
    }
    .next-btn-div{
      margin-right: 100pxpx;
    }

    .next-btn {
      width: 100%;
    }
  }
  @media screen and (min-width: 481px) and (max-width:730px) {
    .quiz {
      width: 80%;
      height:550px;
      margin-top: 80px;
      margin-bottom: 30px;
    }
    .Signout{
      width: 100%;
      margin-right: 20px;
      text-align: center;
    }
    .bottom-border {
      margin-right: 90px;
    }
    .middle {
      width: 90%;
    }
    .question {
      font-size: 20px;
      margin-top: 20px;
    }
    .options {
      width: 90%;
    }
    .end {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
    }
    .next-btn-div{
      margin-right: 100pxpx;
    }

    .next-btn {
      width: 100%;
    }
  }
  @media screen and (min-width: 731px)  {
    .quiz {
      width: 50%;
      height:550px;
      margin-top: 120px;
      margin-bottom: 30px;
    }
    .Signout{
      width: 100%;
      margin-right: 20px;
      text-align: center;
    }
    .bottom-border {
      margin-right: 90px;
    }
    .middle {
      width: 90%;
    }
    .question {
      font-size: 20px;
      margin-top: 20px;
    }
    .options {
      width: 90%;
    }
    .end {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
    }
    .next-btn-div{
      margin-right: 120pxpx;
    }

    .next-btn {
      width: 150%;
    }

  }

