.box{
    border: 2px solid black;
    background-color: whitesmoke;
    border-radius: 7px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 30px;
}
.head{
    display: flex;
}
.Qno{
    margin-top: 19px;
    margin-left: 10px; 
    font-weight: bold; 
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
}
.show{
    margin-left: 35px;
}

.question{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
    margin-left: 10px;
}
@media screen and (max-width: 480px) {
    .question{
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serifs;
        font-size: 15px; 
        margin-left: 10px;
    }
  }
@media screen and (min-width: 481px) {
    .box{
        border: 2px solid black;
        background-color: whitesmoke;
        border-radius: 7px;
        width: 50%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .question{
        
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serifs;
        font-size: 15px; 
        margin-left: 10px;
    }
  }